@import '../App';

$contentHeigth: calc(100vh - 144px);

.mainPage {
  height: $contentHeigth;
  overflow-y: scroll;
  padding: 32px 32px 0 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.offers {
  padding: 32px 32px 0 32px;
  width: 100%;
  overflow-y: scroll;
  height: $contentHeigth;
}

.offerPage {
  padding: 32px 32px 0 32px;
  width: 100%;
  overflow-y: scroll;
  height: $contentHeigth;

  .back {
    background-color: $white;
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 4px 8px;
    padding-left: 40px;
    background-image: url('../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position-y: center;
  }

  h4 {
    font-weight: 700;
    font-size: 25px;
  }

  .offer {
    padding: 32px;
    background-color: $white;
    border-radius: 8px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
  }

  .buttons {
    display: flex;

    .firstButton {
      width: 159px;
    }

    .secondButton {
      width: 72px;
      display: flex;
      align-items: center;
      margin-left: 40px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    .time {
      color: $primary-50;
    }
    img {
      width: 84px;
      height: 84px;
    }
  }

  .container {
    width: 766px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    background-image: url('../assets/check.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 32px;
  }
}

.profilePage {
  position: relative;
  height: $contentHeigth;
  overflow-y: scroll;
  padding: 32px 32px 0 32px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
