@import '../App';

$contentHeigth: calc(100vh - 144px);

.mainPage {
  height: $contentHeigth;
  overflow-y: scroll;
  padding: 32px 32px 0 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.offers {
  padding: 32px 32px 0 32px;
  width: 100%;
  overflow-y: scroll;
  height: $contentHeigth;
}

.offerPage {
  padding: 32px 32px 0 32px;
  width: 100%;
  overflow-y: scroll;
  height: $contentHeigth;

  .offer {
    padding: 32px;
    background-color: $white;
    border-radius: 8px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    display: flex;

    .firstButton {
      width: 159px;
    }

    .secondButton {
      width: 72px;
      display: flex;
      align-items: center;
      margin-left: 40px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    .time {
      color: $primary-50;
    }
    img {
      width: 84px;
      height: 84px;
    }
  }

  .container {
    width: 766px;
  }
}
