@import '../../../App';

.advantage {
  padding: 4px 16px;
  background: $primary-5;
  border-radius: 100px;
}

.last {
  margin-top: 8px;
}

.top {
  margin-top: 16px;
}

.left {
  margin-left: 16px;
}

.color {
  color: $primary-50;
}
