@import '../../App';

.header {
  background: $neutral-5;
  height: 112px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rigthBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileBlock {
  display: flex;
  align-items: center;
}

.notifications {
  margin-right: 36px;
}

.input {
  background: $neutral-10;
}
