@import '../../../../App';

.input {
  background-color: $white;
}

h3 {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 32px;
}

.advantages {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
