@import '../../App';

.offer {
  background-color: $white;
  width: 362px;
  height: 352px;
  padding: 16px;
  box-shadow: 0px 0px 4px 1px rgba(0, 14, 51, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;

  span {
    padding: 4px 16px;
    background: $primary-5;
    border-radius: 100px;

    &:last-child {
      margin-top: 8px;
    }
  }
}
