$black: #000;
$white: #fff;

// *primary
$primary-100: #001b33;
$primary-90: #00294d;
$primary-80: #005299;
$primary-70: #005fb3;
$primary-60: #006dcc;
$primary-50: #08f;
$primary-40: #33a0ff;
$primary-30: #66b8ff;
$primary-20: #99cfff;
$primary-10: #cce7ff;
$primary-5: #e6f3ff;

// *neutral
$neutral-100: #181b20;
$neutral-90: #3a3f4b;
$neutral-80: #656d7f;
$neutral-70: #828a9b;
$neutral-60: #99a0af;
$neutral-50: #aeb3bf;
$neutral-40: #c0c4cd;
$neutral-30: #d0d3da;
$neutral-20: #dfe1e6;
$neutral-10: #ecedf0;
$neutral-5: #f9f9fa;

// *critical
$critical-80: #652832;
$critical-60: #b34758;
$critical-50: #e65c71;
$critical-10: #ffccd4;

// *success
$success-80: #26802a;
$success-60: #3dcc43;
$success-50: #45e64b;
$success-10: #ccffce;

// *info
$info-80: #1f5a66;
$info-60: #2e8799;
$info-50: #3db4cc;
$info-10: #ccf7ff;

.block {
  width: 50px;
  height: 50px;
}

.body-sm {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 20px;
  color: #000;
}

.body-xs {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #000;
}

.elevetion2 {
  background: #fff;
  box-shadow: 0 0 2px 1px rgb(0 14 51 / 20%);
}

.elevetion4 {
  background: #fff;
  box-shadow: 0 0 4px 1px rgb(0 14 51 / 20%);
}

.elevetion8 {
  background: #fff;
  box-shadow: 0 0 8px 2px rgb(0 14 51 / 20%);
}

.elevetion16 {
  background: #fff;
  box-shadow: 0 0 16px 3px rgb(0 14 51 / 20%);
}

.elevetion24 {
  background: #fff;
  box-shadow: 0 0 24px 4px rgb(0 14 51 / 20%);
}
