@import '../../../App.module';

.nav-item {
  background: $transparent;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px;
  padding-left: 44px;
  width: 224px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;

  &:hover {
    background: $neutral-10;
    transition: 0.5s;
  }

  .active {
    background: $primary-10;
    color: $primary-50;
  }

  img {
    margin-right: 10px;
  }
}
